:root {
    --white: #fff;
    --white-200: #eff8ff;
    --gray-light: #dbdbdb;
    --gray: #6e7275;
    --gray-200: #293145;
    --blue: #0F9AFE;
    --dark-blue: rgba(19, 125, 224, 0.5);
}

html {
    scroll-behavior: smooth;
}

.container {
    width: 80%;
    max-width: 1940px;
    margin: 0 auto;
}

.container-navegacao {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1.25rem;
}

.container-navegacao nav {
    width: 35%;
}

.navegacao {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: var(--gray);

    display: flex;
    justify-content: space-between;
    width: 100%;
}

.container-intro {
    background-color: var(--white-200);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro-titulo {
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    font-size: 3rem;
    color: var(--gray-200);
}

.botao {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    color: var(--white);

    background-color: var(--blue);
    box-shadow: 1px 3px 4px var(--dark-blue);
    border: none;
    border-radius: 3rem;
    padding: 1rem 2.25rem;
    margin: 3rem 0 0;
}

.botao:hover {
    cursor: pointer;
    background-color: var(--white);
    color: var(--blue);
}

#funcionalidades {
    padding: 3.5rem 0;
}

.funcionalidades-titulo {
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    color: var(--gray-200);
    text-align: center;
}

.container-funcionalidades {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
}

.funcionalidade-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.funcionalidade-item-titulo {
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    font-size: 1.125rem;
    color: var(--gray-200);

    margin-top: 2rem;
}

.funcionalidade-item-texto {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 26px;
    color: var(--gray);

    width: 80%;
    text-align: center;

    margin-top: 1rem;
}

.container-app {
    background-color: var(--white-200);
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 3rem;    
}

.app-titulo {
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: var(--gray-200);

}

.app-texto {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: var(--gray);
    line-height: 26px;
    
    width: 58%;
    margin: 1.5rem 0 2rem;
}

.app-stores {
    display: flex;
    align-items: center;
}

.app-img-store:hover {
    cursor: pointer;
}

#planos {
    padding: 3.125rem 0 8.125rem;
}

.planos-titulo {
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    color: var(--gray-200);
    text-align: center;

    margin: 0 0 1rem;
}

.planos-texto {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    color: var(--gray);
    line-height: 25px;
    text-align: center;

    width: 40%;
    margin: 0 auto 6rem;
}

.container-planos {
    display: flex;
    justify-content: space-between;
}

.plano {
    width: 32%;
    background: var(--white-200);

    padding: 3.7rem 0 3rem;
    border-radius: 0.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.plano-titulo {
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--gray-200);

    margin: 0 0 3.5rem;
}

.plano-preco{
    display: flex;
    justify-content: center;

    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: var(--gray-200);
}

.moeda {
    font-size: 1.25rem;;
}

.preco {
    font-size: 3.125rem;
}

.periodicidade {
    font-size: 1.6rem;
}

.plano-texto {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    color: var(--gray);
    text-align: center;
    width: 80%;

    margin: 3rem 0 3.6rem;
}

.botao-plano{
    padding: 0.5rem 5rem;
    margin: 0;
}

.plano-prata {
    background: var(--gray-200);
}

.plano-prata-etiqueta {
    background: var(--blue);
    padding: 0.3rem 2rem;
    border-radius: 1rem;
    margin: 1rem 0 2rem;

    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 0.8rem;
    color: var(--white);
}

.plano-prata-preco {
    color: var(--white);
}
.plano-prata-titulo {
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: var(--white);
}

.plano-prata-texto {
    color: var(--gray-light);
}

.container-contato {
    background-image: url('../files/julian-hochgesang-psGV5KhidlY-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;

    padding: 3.125rem 0 5rem;
}

.contato-titulo {
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: var(--white);
    text-align: center;
}

.contato-texto {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: var(--white);
    line-height: 25px;
    text-align: center;

    width: 33%;
    margin: 1rem auto 6rem;
}

.formulario-contato {
    display: flex;
    justify-content: center;
}

.input-email {
    border: none;
    outline: none;
    background: none;

    border-bottom: 1px var(--white) solid;
    padding: 0.6rem 0;
    caret-color: var(--white);
    width: 20rem;
}

.input-email::placeholder {
    font-family: 'Inter', 400;
    font-size: 1.125rem;
    color: var(--white);
}

.botao-enviar {
    box-shadow: none;
    margin: 0  0 0 2.5rem;
    padding: 0.5rem 2rem;

    font-weight: 500;
    font-size: 1.125rem;
}
.rodape {
    padding: 1.5rem 0;
    text-align: center;
}

.rodape-texto {
    font-family: 'Sora', sans-serif;
    font-weight: 400;
    color: var(--gray-200);
}